Repository APP-iOS2/final-yedi, pull requests merged in 2023-11, with the labels that each got.

#233 Refactor : 채팅관련 함수 추가 및 가독성 개선
  YeDi/YeDi.xcodeproj/project.pbxproj
  YeDi/YeDi/Shared/ViewModel/Chatting/ChattingViewModel.swift
Labels: refactor, feature, 승준, chatting

#234 Refactor/common/seongjun
  YeDi/YeDi.xcodeproj/project.pbxproj
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfilePostView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileReviewView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerReviewDetailView.swift
  YeDi/YeDi/Client/View/CMHome/CMHomeCellView.swift
  YeDi/YeDi/Client/View/CMHome/CMPostDetailContentView.swift
  YeDi/YeDi/Client/View/CMProfile/CMLikePostListView.swift
  YeDi/YeDi/Client/View/CMProfile/CMProfileEdit/CMProfileEditView.swift
  YeDi/YeDi/Client/View/CMProfile/CMProfileView.swift
  YeDi/YeDi/Client/View/CMProfile/CMReviewDetailView.swift
  YeDi/YeDi/Client/View/CMProfile/CMReviewListView.swift
  YeDi/YeDi/Client/View/CMReservation/CMReservationCheckView.swift
  YeDi/YeDi/Client/View/CMReservation/CMReservationDateTimeView.swift
  YeDi/YeDi/Client/View/CMReservation/CMReservationHistory/CMHistoryCellView.swift
  YeDi/YeDi/Client/View/CMReservation/CMReservationHistory/CMReservationHistoryDetailView.swift
  YeDi/YeDi/Client/View/CMReservation/CMSelectStyleView.swift
  YeDi/YeDi/Client/View/CMReview/CMNewReviewView.swift
  YeDi/YeDi/Client/View/CMReview/CMReservationInfoView.swift
  YeDi/YeDi/Client/ViewModel/CMHistoryViewModel.swift
  YeDi/YeDi/Client/ViewModel/CMReservationViewModel.swift
  YeDi/YeDi/Client/ViewModel/PostDetailViewModel.swift
  YeDi/YeDi/Designer/View/DMPostView/DMGridView.swift
  YeDi/YeDi/Designer/View/DMPostView/DMNewPostView.swift
  YeDi/YeDi/Designer/View/DMPostView/DMPostDetailView.swift
  YeDi/YeDi/Designer/View/DMProfileView/DMShopEditView.swift
  YeDi/YeDi/Designer/View/DMProfileView/ProfileEditView/DMProfileEditView.swift
  YeDi/YeDi/Designer/View/DMReservationView/ReservationView.swift
  YeDi/YeDi/Designer/View/DMReview/DMReviewDetailView.swift
  YeDi/YeDi/Designer/View/DMReview/DMReviewView.swift
  YeDi/YeDi/Shared/Utils/AsnycCacheImage.swift
  YeDi/YeDi/Shared/Utils/FirebaseDateFomatManager.swift
  YeDi/YeDi/Shared/Utils/NSCacheManager.swift
  YeDi/YeDi/Shared/View/Auth/RegisterView.swift
  YeDi/YeDi/Shared/View/Chatting/BoardBubbleCell.swift
  YeDi/YeDi/Shared/View/Chatting/BubbleCell.swift
  YeDi/YeDi/Shared/View/Chatting/ChatRoomView.swift
  YeDi/YeDi/Shared/View/Chatting/ChattingListRoomView.swift
  YeDi/YeDi/Shared/View/Chatting/DateDeviderCell.swift
  YeDi/YeDi/Shared/View/Chatting/ImageBubbleCell.swift
  YeDi/YeDi/Shared/View/PhotoSelectionView.swift
  YeDi/YeDi/Shared/ViewModel/Auth/AuthViewModel.swift
  YeDi/YeDi/Shared/ViewModel/Chatting/ChattingListRoomViewModel.swift
  YeDi/YeDi/Shared/ViewModel/Chatting/ChattingViewModel.swift
Labels: refactor, 성준, common

#235 Refactor: Home, Search View, ViewModel 리팩토링
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfilePostView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileReviewView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileSegmentedView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerReviewDetailView.swift
  YeDi/YeDi/Client/View/CMHome/CMFollowingPostView.swift
  YeDi/YeDi/Client/View/CMHome/CMHomeCellView.swift
  YeDi/YeDi/Client/View/CMHome/CMRecommendPostView.swift
  YeDi/YeDi/Client/View/CMHome/CMSearch/CMSearchView.swift
  YeDi/YeDi/Client/ViewModel/CMHomeCellViewModel.swift
  YeDi/YeDi/Client/ViewModel/CMPostViewModel.swift
  YeDi/YeDi/Client/ViewModel/CMSearchViewModel.swift
Labels: refactor, 재희, client

#237 SwiftLint 적용
  YeDi/.swiftlint.yml
  YeDi/YeDi.xcodeproj/project.pbxproj
Labels: feature, 승준

#236 refactor: CMSearch, CMDesignerProfile View, ViewModel 리팩토링
  YeDi/YeDi.xcodeproj/project.pbxproj
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileSegmentedView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileView.swift
  YeDi/YeDi/Client/View/CMHome/CMFollowingPostView.swift
  YeDi/YeDi/Client/View/CMHome/CMHomeCellView.swift
  YeDi/YeDi/Client/View/CMHome/CMRecommendPostView.swift
  YeDi/YeDi/Client/View/CMHome/CMSearch/CMSearchView.swift
Labels: refactor, 재희, client

#239 refactor: swiftlint 수정
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileReviewView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerReviewDetailView.swift
  YeDi/YeDi/Client/View/CMHome/CMHomeCellView.swift
  YeDi/YeDi/Client/View/CMHome/CMRecommendPostView.swift
  YeDi/YeDi/Client/View/CMHome/CMSearch/CMSearchView.swift
  YeDi/YeDi/Client/View/CMProfile/CMLikePostListView.swift
  YeDi/YeDi/Client/ViewModel/CMDesignerProfileViewModel.swift
  YeDi/YeDi/Client/ViewModel/CMHomeCellViewModel.swift
  YeDi/YeDi/Client/ViewModel/CMLikedPostListViewModel.swift
  YeDi/YeDi/Client/ViewModel/CMSearchViewModel.swift
Labels: refactor, 재희, client

#240 Lint 규칙 적용
  YeDi/.swiftlint.yml
  YeDi/YeDi/Designer/View/DMPostView/DMEditPostView.swift
  YeDi/YeDi/Designer/View/DMPostView/DMGridView.swift
  YeDi/YeDi/Designer/View/DMPostView/DMNewPostView.swift
  YeDi/YeDi/Designer/View/DMPostView/DMPostView.swift
  YeDi/YeDi/Designer/View/DMProfileView/DMProfileEditView.swift
  YeDi/YeDi/Designer/View/DMProfileView/DMShopEditView.swift
  YeDi/YeDi/Designer/View/DMProfileView/ProfileEditView/DMProfileEditView.swift
  YeDi/YeDi/Designer/View/DMProfileView/ProfileEditView/DMProfileView.swift
  YeDi/YeDi/Designer/View/DMReview/DMReviewDetailView.swift
  YeDi/YeDi/Designer/View/DMReview/DMReviewView.swift
  YeDi/YeDi/Designer/ViewModel/DMPostViewModel.swift
  YeDi/YeDi/Designer/ViewModel/DMProfileViewModel.swift
  YeDi/YeDi/Designer/ViewModel/DMReservationVM.swift
  YeDi/YeDi/Designer/ViewModel/DMReviewViewModel.swift
  YeDi/YeDi/Shared/Model/Chatting/CommonBubble.swift
  YeDi/YeDi/Shared/Utils/FirebaseDateFomatManager.swift
  YeDi/YeDi/Shared/ViewModel/Chatting/ChattingViewModel.swift
  YeDi/YeDi/Shared/ViewModel/LocationManager.swift
  YeDi/YeDi/Shared/ViewModel/PhotoPicker.swift
Labels: refactor, 승준, designer

#242 Fix/Refactor: Auth 관련 View 코드 정리 및 이슈 해결
  YeDi/YeDi.xcodeproj/project.pbxproj
  YeDi/YeDi/ContentView.swift
  YeDi/YeDi/Designer/View/DMProfileView/ProfileEditView/DMProfileView.swift
  YeDi/YeDi/Shared/View/Auth/AuthHomeView.swift
  YeDi/YeDi/Shared/View/Auth/LoginView.swift
  YeDi/YeDi/Shared/View/Auth/RegisterView.swift
  YeDi/YeDi/Shared/View/Auth/ResetPasswordView.swift
  YeDi/YeDi/Shared/View/Auth/UpdatePasswordView.swift
  YeDi/YeDi/Shared/ViewModel/Auth/AuthViewModel.swift
Labels: refactor, fix, 윤지, common

#241 Fix/Refactor: 채팅 관련 View 코드 정리 및 채팅방 리스트 관련 이슈 해결
  YeDi/YeDi/Shared/View/Chatting/BoardBubbleCell.swift
  YeDi/YeDi/Shared/View/Chatting/BubbleCell.swift
  YeDi/YeDi/Shared/View/Chatting/ChatRoomSheetView.swift
  YeDi/YeDi/Shared/View/Chatting/ChatRoomView.swift
  YeDi/YeDi/Shared/View/Chatting/ChatUtilityMenuView.swift
  YeDi/YeDi/Shared/View/Chatting/ChattingListRoomView.swift
  YeDi/YeDi/Shared/View/Chatting/DateDeviderCell.swift
  YeDi/YeDi/Shared/View/Chatting/ImageBubbleCell.swift
  YeDi/YeDi/Shared/ViewModel/Chatting/ChattingListRoomViewModel.swift
Labels: refactor, fix, 윤지, chatting

#243 Fix & Refactor: 예약 기능 수정, 팔로잉 리스트 UI 수정
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileView.swift
  YeDi/YeDi/Client/View/CMHome/CMPostDetailContentView.swift
  YeDi/YeDi/Client/View/CMHome/CMPostDetailView.swift
  YeDi/YeDi/Client/View/CMProfile/CMFollowingListButtonView.swift
  YeDi/YeDi/Client/View/CMProfile/CMFollowingListView.swift
  YeDi/YeDi/Client/View/CMReservation/CMReservationDateTimeView.swift
  YeDi/YeDi/Client/ViewModel/CMReservationViewModel.swift
  YeDi/YeDi/Shared/View/Chatting/ChatUtilityMenuView.swift
Labels: refactor, fix, 윤호, client

#244 refactor: AsnycCacheImage 적용
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileReviewView.swift
  YeDi/YeDi/Client/View/CMHome/CMDesignerProfile/CMDesignerProfileView.swift
  YeDi/YeDi/Client/View/CMHome/CMHomeCellView.swift
  YeDi/YeDi/Client/View/CMHome/CMSearch/CMSearchView.swift
Labels: refactor, 재희, client

#245 Refactor: 전반적인 코드 정리 완료
  YeDi/YeDi.xcodeproj/project.pbxproj
  YeDi/YeDi/Client/View/CMHome/CMFollowingListCellView.swift
  YeDi/YeDi/Client/View/CMProfile/CMFollowingListView.swift
  YeDi/YeDi/Client/View/CMProfile/CMLikedPostListView.swift
  YeDi/YeDi/Client/View/CMProfile/CMProfileEdit/CMAccountInfoEditView.swift
  YeDi/YeDi/Client/View/CMProfile/CMProfileEdit/CMClientInfoEditView.swift
  YeDi/YeDi/Client/View/CMProfile/CMProfileEdit/CMCustomTextArea.swift
  YeDi/YeDi/Client/View/CMProfile/CMProfileEdit/CMCustomTextField.swift
  YeDi/YeDi/Client/View/CMProfile/CMProfileEdit/CMProfileEditView.swift
  YeDi/YeDi/Client/View/CMProfile/CMProfileView.swift
  YeDi/YeDi/Client/View/CMProfile/CMReviewDetailView.swift
  YeDi/YeDi/Client/View/CMProfile/CMReviewListView.swift
  YeDi/YeDi/Client/View/CMProfile/CMSegmentedControl.swift
  YeDi/YeDi/Client/View/CMProfile/CMSettingsView.swift
  YeDi/YeDi/Client/View/CMReservationHistory/CMLastReservationListView.swift
  YeDi/YeDi/Client/View/CMReservationHistory/CMReservationHistoryCellView.swift
  YeDi/YeDi/Client/View/CMReservationHistory/CMReservationHistoryDetailView.swift
  YeDi/YeDi/Client/View/CMReservationHistory/CMReservationHistoryView.swift
  YeDi/YeDi/Client/View/CMReservationHistory/CMUpcomingReservationListView.swift
  YeDi/YeDi/Client/View/CMReview/CMNewReviewView.swift
  YeDi/YeDi/Client/View/CMReview/CMReservationInfoView.swift
  YeDi/YeDi/Client/View/CMReview/CMReviewGiveScoreView.swift
  YeDi/YeDi/Client/View/CMReview/CMReviewSelectKeywordsView.swift
  YeDi/YeDi/Client/View/CMReview/CMReviewSelectPhotosView.swift
  YeDi/YeDi/Client/View/CMReview/CMReviewWriteContentView.swift
  YeDi/YeDi/Client/ViewModel/CMLikedPostViewModel.swift
  YeDi/YeDi/Client/ViewModel/CMReservationHistoryViewModel.swift
  YeDi/YeDi/ContentView.swift
  YeDi/YeDi/Shared/Utils/WindowScene.swift
  YeDi/YeDi/YeDiApp.swift
Labels: refactor, 채영, client

#246 refactor: HomeCellViewModel
  YeDi/YeDi/Client/ViewModel/CMHomeCellViewModel.swift
Labels: refactor, 재희, client

#248 Fix/Refactor: 게시물 시간순 정렬, 수정시 fetch 이슈 해결 및 프로필 published 이슈 해결 및 예약현황 코드 수정
  YeDi/YeDi/Designer/View/DMPostView/DMEditPostView.swift
  YeDi/YeDi/Designer/View/DMPostView/DMGridView.swift
  YeDi/YeDi/Designer/View/DMPostView/DMNewPostView.swift
  YeDi/YeDi/Designer/View/DMPostView/DMPostDetailView.swift
  YeDi/YeDi/Designer/View/DMProfileView/ProfileEditView/DMProfileEditView.swift
  YeDi/YeDi/Designer/View/DMProfileView/ProfileEditView/DMProfileView.swift
  YeDi/YeDi/Designer/View/DMReservationView/ReservationView.swift
  YeDi/YeDi/Designer/ViewModel/DMPostViewModel.swift
  YeDi/YeDi/Designer/ViewModel/DMProfileViewModel.swift
  YeDi/YeDi/Designer/ViewModel/DMReservationVM.swift
Labels: refactor, fix, 윤지, designer
